<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188476409125-k7huqho9vlt11sjn0b45p0pu0j9tdomj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188476409125-k7huqho9vlt11sjn0b45p0pu0j9tdomj</string>
	<key>API_KEY</key>
	<string>AIzaSyCCCbq6eqtxOUGBcUqWA6gNdWH4374GO7E</string>
	<key>GCM_SENDER_ID</key>
	<string>188476409125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.volun</string>
	<key>PROJECT_ID</key>
	<string>volunegy</string>
	<key>STORAGE_BUCKET</key>
	<string>volunegy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188476409125:ios:ca8f1c10cf90f3926a46cc</string>
</dict>
</plist>